h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:large; 
}
/* span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
} */
input{
    border-radius: 4px;
}

body{
    background:linear-gradient(to left , #07b4c4,#8f6ada)
    
}
.board{
    -webkit-box-shadow: -3px -2px 12px 2px rgba(0, 0, 0, 0.88);
        box-shadow: -3px -2px 12px 2px rgba(0, 0, 0, 0.88);
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.7s;
    border-color: #262226;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: X-large;
    cursor: pointer;
    border-radius: 2px;
    
    }

.board td:hover {
    
    background-color: rgb(26, 226, 226);
    color: rgb(26, 226, 226);
}

.shown {
    background-color: rgb(226, 226, 226);

}
.hide {
    text-indent: -9999px;
    background-color: #085391;
    color:#085391;
}
.marked {
    background-color: #085391;
    color:#085391;
}

.safe{
    background-color: #1f7610;
        color: #1f7610;
}

button {
    background-color: lightblue;
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 6px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}


.container{
    display: none;
    height: 100px;
    width: 190px;
    background-color: rgb(80, 149, 169);
    margin-top: 20px;
    border-radius: 15px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}
.game{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size:xx-large;
    cursor: pointer;
    
}
.timer{
    height: 65px;
    width: 150px;
    background-color: rgb(15, 200, 241);
    margin-top: 20px;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    color: azure;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}

.life{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
.hint{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: xx-large;
        cursor: pointer;
}
.record{
        height: 70px;
        width: 120px;
        background-color: rgb(80, 149, 169);
        margin-top: 20px;
        border-radius: 15px;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0, 0, 0, 0);
}