h2{
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    display: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large; 
}
/* span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
} */
body{
    background:linear-gradient(to left , #07b4c4,#8f6ada)
    

}


.board td {
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.7s;
    border-color: #262226;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: X-large;
}

.board td:hover {
    
    background-color: rgb(26, 226, 226);
    color: rgb(26, 226, 226);
}

.shown {
    background-color: rgb(226, 226, 226);

}
.hide {
   
    background-color: #085391;
    color:#085391;
}

button {
    background-color: lightblue;
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.container{
    display: none;
    height: 200px;
    width: 200px;
    background-color: rgb(80, 149, 169);
    margin-top: 50px;
    border-radius: 15px;
}
.timer{
    height: 85px;
    width: 120px;
    background-color: rgb(15, 200, 241);
    margin-top: 50px;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xx-large;
    color: azure;
}